@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #EDECEC;
    --background-color: #14120B;
    --secondary-color: #bfbaba;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: "Inter", sans-serif
}

body {
    background-color: var(--background-color);
}

img {
    background-repeat: no-repeat;
    object-fit: cover;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;

}

a:hover {
    color: var(--secondary-color);
}

li {
    list-style: none;
}

button {
    padding: 6px 12px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: var(--background-color);
    font-size: 12px;
    font-weight: 300;
}

.outline {
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}

.outline:hover {
    background: none;
    border: 1px solid var(--primary-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

/* Universal class */
.container {
    padding-inline: 16px;
    padding-block: 8px;
}

/* Header Section */

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header {
    padding-right: 12px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    top: 0;
    background-color: var(--background-color);
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 34px;
}

.logo p {
    font-weight: bold;
    font-size: 16px;
}

.ctas {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 12px;
}

/* Main section */
.main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

}

.main button {
    display: flex;
    align-items: center;
    gap: 2px;
}

.main p {
    color: var(--background-color);
}

.main h1 {
    width: 44%;
}

.main>button {
    padding: 12px 30px;
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
}

.main>h1 {
    font-weight: 300;
    font-size: 26px;
}

main img {
    margin-top: 30px;
    width: 100%;

}

/* Trusted Company Section */
.trusted-section>p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.trusted-companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.image-container {
    margin-top: 14px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 110px;
    background-color: #262626;
    border-radius: 12px;
}

.image-container img {
    width: 60px;
    margin-bottom: 16px;
}

/* Features Section. */
.feature-section {
    margin-block: 24px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.feature-card {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    gap: 16px;
}

.feature-card .texts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & h3 {
        font-weight: 500;
        font-size: 24px;
        color: var(--primary-color);
    }

    & p {
        font-weight: 400;
        font-size: 24px;
        color: var(--secondary-color);
    }

    & a {
        color: red;
    }
}

.feature-image-container {
    width: 1200px;

    &>img {
        border-radius: 8px;
        width: 100%;
    }
}

/* Testimonial Section */
.testimonial-section {
    margin-block: 64px;

    & h2 {
        text-align: center;
        font-weight: 400;
        margin: 50px;
    }
}

.testimonial-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;

    & .testimonial-card {
        display: flex;
        flex-direction: column;
        background-color: #262626;
        padding: 16px;
        border-radius: 8px;
        justify-content: space-between;
        height: 250px;
    }

    & p {
        font-weight: 400;
    }

    & img {
        height: 32px;
        width: 32px;
        margin-bottom: 8px;
    }

    & .user-detail {
        display: flex;
        align-items: end;
        gap: 16px;
    }
}

.user-info p {
    font-weight: 400;
}

.light {
    color: var(--secondary-color);
}

/* more-info section */
.more-info-section {
    margin-block: 64px;

}

.more-info-section h3 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;

}

.more-info-card-container {
    display: flex;
    gap: 16px;
}

.more-info-card {
    background-color: #262626;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 16px;

    & h4 {
        font-weight: 400;
    }

    & p {
        font-weight: 400;
        color: var(--secondary-color);
    }

    & img {
        width: 100%;
    }

}

/* Changelog section */
.changelog-section {
    margin-block: 64px;

    & h3 {
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 20px;
    }

    & a {
        color: red;
    }
}

.changelog-section-container {
    display: flex;
    gap: 16px;
    margin-block: 30px;
}

.changelog-card {
    padding: 24px;
    background-color: #262626;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & p {
        color: var(--secondary-color);
        font-weight: 400;
    }
}

.changelog-card:hover {
    background: var(--background-color);
    cursor: pointer;
}

.top {
    display: flex;
    color: var(--secondary-color);
    gap: 12px;
    align-items: center;
}

.label {
    border: 1px solid var(--secondary-color);
    padding: 4px 16px;
    border-radius: 100px;
}

/* Career Section */

.career-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 64px;

    & h2 {
        font-weight: 300;
        font-size: 26px;
        width: 40%;
    }

    & button {
        width: fit-content;
        padding: 14px 32px
    }
}

/* Blog section */
.blog-section {
    background: #262626;
    position: sticky;
    padding: 64px;

    &>p {
        position: sticky;
        top: 30px;
    }

}

.blog-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    & a {
        text-align: start;
        color: red;
    }
}

.blog-card {
    padding: 24px;
    border-radius: 8px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;

    & p {
        color: var(--secondary-color);
    }
}

.blog-section .title-body {
    gap: 12px;

    & h4 {
        font-weight: 400;
    }
}

/* try now session */
.try-now-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 140px;
    gap: 24px;
    margin-bottom: 64px;

    & h2 {
        font-size: 48px;
        font-weight: 400;
    }

    & button {
        display: flex;
        padding: 8px 16px;
        display: flex;
        gap: 4px;

        & p {
            color: var(--background-color);
            font-size: 16px;
            font-weight: 500;
        }
    }
}

/* Footer section */

footer {
    background: #262626;
}

.links-container {
    display: grid;
    padding-block: 48px;
    grid-template-columns: repeat(5, 1fr);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & p {
        font-weight: normal;
        color: var(--secondary-color);
        font-size: 12px;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 12px;
        font-weight: 400;
        font-size: 12px;
    }
}

.footer-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .first {
        display: flex;
        gap: 16px;

        & p {
            font-size: 12px;
            color: var(--secondary-color);

        }
    }
}

.second {
    display: flex;
    gap: 24px;
}


.theme {
    display: flex;
    gap: 12px;
    background: #5a5959bd;
    border: 2px solid #918080;
    padding: 4px 8px;
    border-radius: 50px;

    & svg {
        fill: var(--primary-color);
        width: 16px;
    }
}

.lang {
    display: flex;
    display: flex;
    background: #5a5959bd;
    border: 2px solid #918080;
    padding: 4px 8px;
    border-radius: 50px;
    gap: 4px;

    & svg {
        fill: var(--primary-color);
        width: 16px;
    }

    & select {
        background-color: transparent;
        border: none;
    }

}